#logo {
    position: fixed;
    top: 20px; 
    left: 20px; 
    z-index: 9999; 


    
}

#logo img {
    width: 130px;
    height: auto; 
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 3;
    right: 0;
    background-color: #f5f0f0;
    padding: 10px 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;

}

.navbar a:hover {
    color: #76aaee;
    text-decoration: underline;
}

.separator
{
    margin: 0 10px; 
    border-right: 1px solid #fce5e5; 
    height: 20px; 
}

#hautdepage {
    background-color: #f5f0f0;
    width: 100%;
    padding: 50px 0;
}

.encadre-bleu {
  background-color: #448ae6; 
    padding: 20px; /
}

.contenu {
    display: flex; 
}


.image {
    margin-left: 25%; 

}

.image img 
{
    width: 100%;
    height: auto;
}

.titre
{
    color: aliceblue;
    margin: 0;
    margin-left: 10%; 
    font-size: 150%;
    white-space: nowrap;
        
}

