.portfolio-section-photos {
  background-color: white;
}

.portfolio-section-photos h2 {
  color: #242424;
  margin-bottom: 80px;
  text-align: center;
}

.photo-titre {
  text-align: center;
  font-size: 30px;
  color: black;
  background-color: rgba(0, 153, 255, 0.89);
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  width: 170px;
  margin: 0 auto 10px auto; /* Centrer le titre */
  padding: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.grid-paysages {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr; /* Conserver le format desktop */
  grid-template-rows: 300px 300px 300px;
  gap: 80px;
}

.grid-portraits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 15px;
}

.grid-paysages img,
.grid-portraits img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 10px;
}

.lien-conteneur-photo {
  position: relative;
}

.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.lien-conteneur-photo:hover .photo-hover {
  display: flex;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; /* Correction de la position */
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: none;
}

.swiper-container img {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.swiper-pagination-bullet {
  background: white;
}

.swiper-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  background-color: #ff0000; /* Red background color */
  color: #ffffff; /* White text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
.swiper-close-button:hover {
  background-color: #cc0000; /* Darker red on hover */
}


/* Media Queries pour le responsive design */
@media (max-width: 768px) {
  .photo-titre {
    font-size: 24px; /* Réduire la taille du texte pour les petits écrans */
    width: auto; /* Ajuster la largeur automatiquement */
    margin: 0 auto 5px auto; /* Ajuster les marges */
  }
  
  .grid-paysages, .grid-portraits {
    grid-template-columns: 1fr; /* Une seule colonne sur les petits écrans */
    gap: 20px;
  }

  .grid-paysages img,
  .grid-portraits img {
    height: 250px; /* Réduire légèrement la hauteur des images */
    margin-bottom: 50px;
  }

  .portfolio-section-photos h2 {
    margin-top: 200px;
  }
}